body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
  
}

.title{
  margin-left: 150px;
  
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
 
}
/* make images flexible */
img {
 
  border-radius: 10px;
  flex-basis: 30%;
  max-width: 700px;
 margin-right: 10px;
}
a {
  color: #59331d;
}
a:hover {
  text-decoration: none;
}
header {
  border-bottom: 10px solid #d98555;
}
/* navbar styling */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav li {
  margin: 0rem 3rem 2rem 1rem;
  font-size: 1.5rem;
}
/* max width on the image in pixels */
nav .logo img {
  width: 300px;
  
}
/* flex basis on the image container, li */
nav .logo {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: #d98555;
}
/* establishes a white background */
.main-bkgd {
  background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
  
}
/* sits inside of the white background, centered */
.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}
article {
  flex-basis: 73%;
  
}
figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
  background-color: #59331d;
  border-radius: 10px;
}
figure img {
  border-radius: 10px;
  
}
figcaption {
  color: #f2f2f2;
  padding: 0.5rem;
}
.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}


.address h1{
  margin: auto;
  font-size: 3rem;
}

.address p{
  margin: auto;
  font-size: 2rem;
}


footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

.container{
  display: flex;
  flex-flow: column-wrap;
  justify-content: space-between;
  
  padding: rem 4rem rem 4rem;
  margin: rem 4rem rem 4rem;
  max-width: 160%;
  gap: 2rem;
  
}
.card h2,
.card p {
  padding: 0 1rem;
  margin: 0 1rem;
  
  font-family: 'Lato', sans-serif;
  line-height: 2;
  
}
.card h2{
  margin-left: 1rem;
}
.title {
  margin: 0;
}

.card{
  flex-basis: 30%;
}

.card p {
  display: flex;
  flex-flow: row;
  

}



h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 3rem;
  padding: 1rem 1rem 1rem 3rem;
}
 
h2{
  font-size: 1.9rem;

}




 @media only screen and (min-width: 350px) and (max-width: 650px) 
  {
  
   
    nav ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
   display: block;
   flex-flow: row wrap;
   text-align: center;
 }
    .main {
   max-width: 1000px;
  
   padding: 2rem;
   display: block;
   flex-flow: row wrap;
      text-align: left;
        margin-left: auto;
   margin-right: auto;
  
 }
    picture {
   margin: 2rem 0 0 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   background: none;
    
 }
   picture img {  border-radius: 10px;

   
   }
   
    
    figcaption {
   color: #f2f2f2;
   padding: 0.5rem;
      display: none;
 }
   
   
   h1 {
    font-size: 2.5rem;
   margin-bottom: 0;
     text-align: left;
     margin-left: 0px;
     padding-left: 0px;
 }
    
    body {
  
   margin: 0;
   padding: 0;
 
   line-height: 2.5;
 }
    
    
    .button {
  
   border-radius: 10px;
   padding: 0.5rem 1rem;
   margin: 0;
   color: #f2f2f2;
   text-decoration: none;
   border: 3px solid #59331d;
 }
    
 nav li {
   
   font-size: 1.5rem;
 }   
    nav .logo img {
   max-width: 200px;
 }
 

 .address {
  display: block;
  flex-direction: row wrap;
   justify-content: center;
   margin-left: 90px;
   padding-left: 90px;
   font-size: 2rem;
 }
.address h1{
    margin-left: 0;
   padding-left: 0;
  justify-content: left;
   font-size: 3rem;
}

.image{
  display: block;
  flex-direction: row wrap;
   justify-content: center;
   margin-top: 20px;
   padding-top: 20px;
    margin-left: 60px;
   padding-left: 60px;
   font-size: 2rem;
   margin-bottom: 30px;
   padding-bottom: 30px;
 }
}
 
@media only screen and (min-width: 649px) and (max-width: 1032px) {
  .main {
    
    padding: 0px 20px 30px 40px;
    
  }
  
    picture {
   margin-top: 130px;
   
     margin-right: 10px;
      padding: 0auto;
      display: flex;
     background: none;
      flex-basis: 15%;
  
 } 
   nav .logo img {
   max-width: 200px;
    
 }
  
  article {
    flex-basis: 100%;
  }
  
   figcaption {
   
      display: none;
 }
    
  .main {
 display: flex;
  flex-flow: row;
   justify-content: right;
   text-align: left;
    margin-left: auto;
   margin-right: auto;
    }

 picture img {
  border-radius: 10px;
   padding-top: 30px;
  margin-top: 30px;
  max-width: 300px;
   margin-left: 10px;
   height: 500px;
   
  }
  
  
 
  .img{
    margin:auto;
    padding:auto;
    border-radius:10px ;
  }
  
  
  nav ul {
 
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  
  
  
  nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.7rem;
}
  body {
  background-color: #082B59;
  
  padding: 10px 10px 10px 10px;
  font-family: 'Lato', sans-serif;
  line-height: 2;
    font-size: 1.5rem;
    
    
}
.title {
  margin: 0;
}
  
h1 {
  font-size: 3rem;
  margin-left: 0px;
  padding-left: 0px;
}


.address {
  display: block;
  flex-direction: row wrap;
   justify-content: left;
   margin-right: 270px;
   padding-right: 270px;
   font-size: 2rem;
    padding-left: 0px;
    margin-left: 0px;
 }
.address h1{
    margin-left: 0;
   padding-left: 0;
  justify-content: left;
   font-size: 3rem;
}

.image{
  display: block;
  flex-direction: row wrap;
   justify-content: right;
   margin-top: 20px;
   padding-top: 20px;
    margin-left: 10px;
   padding-left: 10px;
   font-size: 2rem;
   margin-bottom: 30px;
   padding-bottom: 30px;
  padding-right: 20px;
 }
  
} 


@media only screen and  (min-width: 1033px) {
   
 
 nav ul { padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: right; 
     align-items: flex-end;
 
}
    nav li {
  margin: 1rem 5rem 1rem 4rem;
      padding: auto;
  font-size: 2rem;
      
}
  nav .logo {

  
  display: flex;
  flex-flow: row-wrap;
  justify-content: left; 
   
    
 
}  
 nav .logo img { 
  max-width: 450px;

   flex-basis: 100%;
   margin-top: 20px;
   margin-bottom:0;
   padding-top: 0;
   }
  
  h1 {
  font-size: 3rem;
  margin-left: 0px;
  padding-left: 0px;
}
  
body {
 
  /*margin: rem 2rem rem 3rem;*/
  font-size: 1.5rem;
  
}
  
  .main {
  max-width: 1500px;
 
}
  figcaption {
  display: none;
}
  
  picture {
  
  flex-basis: 45%;
  background: none;
  border-radius: 10px;
    padding-top: 10rem;
    
}
  
  picture img { 
  border-radius: 10px;
  max-width: 700px;

 
  width: 1200px;
  height: auto;
  
  }
  
  .logo {
   margin-left: 50px;
   
  flex-basis: 100%;
    margin-top: 10px;
}
  
  article {
    flex-basis: 45%
    
      
  }
  .title {
    margin: 0;
  }

  .address {
    display: block;
    flex-direction: row wrap;
     justify-content: left;
     margin-right: 270px;
     padding-right: 270px;
     font-size: 2rem;
      padding-left: 0px;
      margin-left: 0px;
   }
  .address h1{
      margin-left: 0;
     padding-left: 0;
    justify-content: left;
     font-size: 3rem;
  }
  
  .image{
    display: block;
    flex-direction: row wrap;
     justify-content: right;
     margin-top: 20px;
     padding-top: 20px;
      margin-left: 10px;
     padding-left: 10px;
     font-size: 2rem;
     margin-bottom: 30px;
     padding-bottom: 30px;
    padding-right: 20px;
   }
  
}
